VITE_SUPABASE_URL=https://prjgbtbugtfuuqtxecyq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InByamdidGJ1Z3RmdXVxdHhlY3lxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk4MzExMjksImV4cCI6MjA2NTQwNzEyOX0.oDnmb7MOtTfUQbL7nepAUzu4qHYA15ptppwoDZx9TV8