VITE_SUPABASE_URL=https://ntqwqvsqcpdkcfldxguf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im50cXdxdnNxY3Bka2NmbGR4Z3VmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk4MzQ1MjUsImV4cCI6MjA2NTQxMDUyNX0.lPOjrUp23kW8VQAvsmsdqrlYF5BXu4ViCXjXexmGisw